<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hua.mybatis.mapper.CateMapper">
    <resultMap id="BaseResultMap" type="com.qf.hua.mybatis.entity.Cate">
        <id property="cateId" column="cate_id"/>
        <result property="name" column="name"/>
        <result property="createDate" column="create_date"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="selectList" resultMap="BaseResultMap">
        select cate_id, name, create_date, status
        from cate
        where status = 0;
    </select>
    <insert id="insert" keyProperty="cate.cateId" useGeneratedKeys="true">
        insert into cate (name)
        values (#{cate.name})
    </insert>

</mapper>