<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hua.mybatis.mapper.ProductMapper">
    <resultMap id="BaseMap" type="com.qf.hua.mybatis.entity.Product">
        <id property="productId" column="product_id"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="img" column="img"/>
        <result property="createDate" column="create_date"/>
    </resultMap>
    <!--<select id="selectListByCateId">
        select  * from
        cate c left join product p on
        p.cate_id = c.cate_id where c.status = 0
        and p.status = 0
    </select>-->
    <select id="selectListByCateId" resultMap="BaseMap">
        select product_id, title, content, img, price, create_date, cate_id
        from product
        where status = 0 and cate_id = #{cateId}

    </select>
    <insert id="insert">
        insert into product(title, content, img, price, cate_id)
        values (#{product.title},#{product.content},#{product.img},#{product.price},#{product.cateId})
    </insert>
</mapper>