<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hua.mybatis.mapper.TestSelectMapper">
    <resultMap id="BaseResultMap" type="com.qf.hua.mybatis.entity.Test">
        <id column="id" property="id"/>
    </resultMap>

    <!--    resultMap 直接使用定义的resultMap  -->
    <!--    resultType 一般情况下指向一个对象(不推荐使用)-->
    <!--    parameterType="" 在mapper.xml中声明参数(不推荐)-->
    <!--    <select id="对应方法的名称" resultMap="BaseResultMap"></select>-->
    <select id="selectById" resultMap="BaseResultMap">
        select id,name from t_test
        where id = #{id};
    </select>
    <!--    关联查询 多表查询   -->
    <select id="selectList" resultMap="BaseResultMap">
        select id,name
        from t_test
        limit #{page},#{size};
    </select>
</mapper>